.status-bar {
    background-color: var(--color-bg2);
    color: var(--color-text);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: var(--box-shadow);
    padding: 8px 0;
}
