.wut-header {
    font-size: 1.4rem;
    color: var(--color-primary);
    font-family: "Google Sans Code", sans-serif;
    font-weight: 600;
}

.wut-subheader {
    font-size: 1.2rem;
    color: var(--color-accent);
    font-family: "Google Sans Code", sans-serif;
    font-weight: 600;
}

.wut-body {
    font-size: 1rem;
    font-family: "Google Sans Code", sans-serif;
    color: var(--color-text);
}

.wut-number {
    font-size: 1rem;
    color: var(--color-primary);
    letter-spacing: 0.12em;
    font-family: "Orbitron", monospace;
}

.wut-unit {
    font-size: 0.8rem;
    color: var(--color-accent);
    font-family: "Google Sans Code", sans-serif;
}
