.wutButton {
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s ease;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.primary {
    background-color: var(--color-bg2);
    color: var(--color-text);

    &:hover:not(:disabled) {
        filter: brightness(1.1);
    }
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);

    &:hover:not(:disabled) {
        background-color: var(--color-accent);
    }
}

.destructive {
    background-color: var(--color-destructive);
    color: var(--color-text);

    &:hover:not(:disabled) {
        background-color: var(--color-destructive);
    }
}
