.wutButton {
    border-radius: var(--border-radius);
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.primary {
    background-color: var(--color-bg2);
    color: var(--color-text);
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);

    &:hover:not(:disabled) {
        background-color: var(--color-accent);
    }
}

.destructive {
    &:hover:not(:disabled) {
        border: 1px solid var(--color-destructive);
    }
}
