.context-bar {
    background-color: var(--color-bg2);
    position: fixed;
    top: var(--status-bar-height);
    bottom: 0;
    right: -(var(--context-bar-width));
    width: var(--context-bar-width);
    z-index: 1003;
    padding: 16px;

    &.visible {
        right: 0;
    }
}
