.draggable {
    position: absolute;
    touch-action: none;
    border: 4px solid transparent;
    border-radius: var(--border-radius);

    &:hover {
        border: 4px solid var(--color-accent);
    }
}
