@import "../WAK.shared.module.scss";

.gain {
    background-color: var(--color-bg);

    .horizontal {
        flex-direction: row;
        gap: 8px;
        padding: 8px 12px;
    }

    .vertical {
        flex-direction: column;
        gap: 12px;
        padding: 12px 8px;
    }
}
