.viewport {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    z-index: 100;
    transform-origin: 0 0;
}

.grab {
    cursor: grab !important;
}
.grabbing {
    cursor: grabbing !important;
}
