.viewport-container {
    width: calc(100vw - var(--context-bar-width));
    height: calc(100vh - var(--status-bar-height));
    margin-top: var(--status-bar-height);
    overflow: hidden;
    position: relative;
    background-color: var(--color-bg);
    box-shadow: inset 0 8px 24px -8px rgba(0, 0, 0, 0.25), /* top */ inset -8px 0 24px -8px rgba(0, 0, 0, 0.18); /* right */

    .viewport {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: visible;
        z-index: 100;
        transform-origin: 0 0;

        &.grab {
            cursor: grab !important;
        }

        &.grabbing {
            cursor: grabbing !important;
        }
    }
}
