.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--color-bg);
}
.grab {
    cursor: grab !important;
}
.grabbing {
    cursor: grabbing !important;
}
